<div id="block-features" class="clearfix block block-block-content block-block-content864c3408-e836-4b07-80d1-ac3af3d98495">


  <div class="content">

    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="field field--name-field-mt-feature field__items my-4">
        <ul class="mt-features-slideshow owl-carousel owl-loaded owl-drag">

          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2220px, 0px, 0px); transition: all 0.25s ease 0s; width: 6660px;"><div class="owl-item cloned" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature one" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-1.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Lorem ipsum dolor sit amet</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div><div class="owl-item cloned" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature two" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-2.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Ut enim ad minim veniam</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div><div class="owl-item active" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature one" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-1.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Lorem ipsum dolor sit amet</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div><div class="owl-item" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature two" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-2.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Ut enim ad minim veniam</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div><div class="owl-item cloned" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature one" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-1.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Lorem ipsum dolor sit amet</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div><div class="owl-item cloned" style="width: 1110px;"><li>
                  <div class="paragraph paragraph--type--mt-feature paragraph--view-mode--default">
                    <div class="feature-item mb-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="feature-item__image">
                            <div class="field field--name-field-mt-feature-image field--type-image field__item"><img alt="Feature two" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/feature-2.jpg"></div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2 class="feature-item__title">Ut enim ad minim veniam</h2>

                          <div class="clearfix text-formatted field field--name-field-mt-feature-body field__item">
                            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li></div></div></div><div class="owl-nav"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div></ul></div>
    </div>

  </div>
</div>
