
  <div id="block-testimonials" class="clearfix block block-block-content block-block-contentb051a6be-130c-499a-a46d-12ca0938fb54">


    <div class="content">

      <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="view-mt-carousel view-testimonials-grid view view-mt-testimonials-carousel">
          <div class="view-header">
            <div class="container mt-carousel-testimonials-header">
              <div class="icon"><svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path></svg><!-- <i class="fa fa-quote-left"><span class="sr-only">quote-left</span></i> --></div>

              <h2 class="text-left">Some words from few of our customers</h2>
            </div>
          </div>

          <ul class="owl-carousel mt-carousel-container mt-carousel-testimonials owl-loaded owl-drag">
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1489px, 0px, 0px); transition: all 0.25s ease 0s; width: 5461px;"><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-3.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Terry Smith</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Chief Technology Officer</div>
                  </li></div><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-4.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Robbin J. Ortiz</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Founder &amp; CEO at Lorem Biology</div>
                  </li></div><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-5.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Michelle F. Behne</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Counselor at Research For All</div>
                  </li></div><div class="owl-item active" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-1.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Carlos M. Salazar</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Founder &amp; CEO at Jermains Biology</div>
                  </li></div><div class="owl-item active" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-2.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Lavern K. McDuffie</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Assistant Manager at Biomedics</div>
                  </li></div><div class="owl-item active" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-3.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Terry Smith</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Chief Technology Officer</div>
                  </li></div><div class="owl-item" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-4.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Robbin J. Ortiz</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Founder &amp; CEO at Lorem Biology</div>
                  </li></div><div class="owl-item" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-5.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Michelle F. Behne</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Counselor at Research For All</div>
                  </li></div><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-1.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Carlos M. Salazar</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Founder &amp; CEO at Jermains Biology</div>
                  </li></div><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-2.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Lavern K. McDuffie</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Assistant Manager at Biomedics</div>
                  </li></div><div class="owl-item cloned" style="width: 496.4px;"><li class="mt-carousel-item">
                    <div class="views-field-field-mt-tst-body">
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non…</p>
                    </div>

                    <div class="views-field-field-mt-tst-testimonial-image">
                      <div class="views-field-field-image">
                        <div class="overlay-container overlay-container--circle"><img alt="Testimonial image" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/testimonial-3.jpg"></div>
                      </div>
                    </div>

                    <div class="views-field-title"><a href="#">Terry Smith</a></div>

                    <div class="views-field-field-mt-tst-subtitle">Chief Technology Officer</div>
                  </li></div></div></div><div class="owl-nav"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div></ul></div>
      </div>

    </div>
  </div>


