<div id="block-downloadourappnow" class="clearfix block block-block-content block-block-content19a4f085-95e8-43c3-9f99-1887663222db">


  <div class="content">

    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><h3 class="text-center">Download our App now</h3>

      <p class="pb-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore!</p>

      <p class="text-center"><a class="button mr-0 mr-sm-4" href="#">Free trial 30 days</a><br class="d-block d-sm-none">
        or check <a class="link--bordered" href="#">Our pricing list</a></p>
    </div>

  </div>
</div>
