<div id="block-detailedfeatures" class="clearfix block block-block-content block-block-contentba808b33-e9bb-4e5f-a911-b5663078704d">


  <div class="content">

    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="field field--name-field-mt-dfb-detailed-feature field__items">
        <div class="field__item">
          <div class="paragraph paragraph--type--mt-detailed-feature">
            <div class="detailed-feature-block__section">
              <div class="detailed-feature-block__background-image d-xl-block d-none" style="background-image: url(https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/detailed-feature-1.jpg);">&nbsp;</div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-6"><img alt="" class="d-block d-xl-none rounded-0 mb-5" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/detailed-feature-1.jpg"></div>

                  <div class="col-xl-5 col-lg-6">
                    <div class="detailed-feature__icon">
                      <div class="field field--name-field-mt-detailed-feature-icon field--type-fontawesome-icon field__item">
                        <div class="fontawesome-icons">
                          <div class="fontawesome-icon"><svg class="svg-inline--fa fa-eye fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path></svg><!-- <i class="fas fa-eye"><span class="sr-only">eye</span></i> --></div>
                        </div>
                      </div>
                    </div>

                    <h2 class="mt-0 mb-5">Personalized for you only</h2>

                    <div class="clearfix field field--name-field-mt-detailed-feature-body field__item">
                      <ul class="list--fa-check-circle mb-3"><li class="mb-3">Create budgets that make sense today and set you up for success tomorrow.</li>
                        <li class="mb-3">See bills and money together, so you know what’s due, when it’s due and what you can pay.</li>
                        <li class="mb-3">Receive alerts for unusual account charges, and get custom tips for reducing fees and saving money.</li>
                        <li class="mb-3">Get your free credit score and learn how you can improve it now to get the things you want later.</li>
                      </ul></div>
                    <a class="button" href="#">Sign up for free</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field__item">
          <div class="paragraph paragraph--type--mt-detailed-feature">
            <div class="detailed-feature-block__section">
              <div class="detailed-feature-block__background-image d-xl-block d-none" style="background-image: url(https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/detailed-feature-2.jpg);">&nbsp;</div>

              <div class="container">
                <div class="row">
                  <div class="col-lg-6"><img alt="" class="d-block d-xl-none rounded-0 mb-5" src="https://mttprojects.s3.amazonaws.com/demo.drupalizing.com/businessplus-lite/detailed-feature-2.jpg"></div>

                  <div class="col-xl-5 col-lg-6">
                    <div class="detailed-feature__icon">
                      <div class="field field--name-field-mt-detailed-feature-icon field--type-fontawesome-icon field__item">
                        <div class="fontawesome-icons">
                          <div class="fontawesome-icon"><svg class="svg-inline--fa fa-money-check fa-w-20" aria-hidden="true" data-prefix="fas" data-icon="money-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M0 448c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V128H0v320zm448-208c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v32c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-32zm0 120c0-4.42 3.58-8 8-8h112c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H456c-4.42 0-8-3.58-8-8v-16zM64 264c0-4.42 3.58-8 8-8h304c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zm0 96c0-4.42 3.58-8 8-8h176c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zM624 32H16C7.16 32 0 39.16 0 48v48h640V48c0-8.84-7.16-16-16-16z"></path></svg><!-- <i class="fas fa-money-check"><span class="sr-only">money-check</span></i> --></div>
                        </div>
                      </div>
                    </div>

                    <h2 class="mt-0 mb-5">Say goodbye to late fees</h2>

                    <div class="clearfix field field--name-field-mt-detailed-feature-body field__item">
                      <ul class="list--fa-check-circle mb-3"><li class="mb-3">Create budgets that make sense today and set you up for success tomorrow.</li>
                        <li class="mb-3">See bills and money together, so you know what’s due, when it’s due and what you can pay.</li>
                        <li class="mb-3">Receive alerts for unusual account charges, and get custom tips for reducing fees and saving money.</li>
                        <li class="mb-3">Get your free credit score and learn how you can improve it now to get the things you want later.</li>
                      </ul></div>
                    <a class="button" href="#">Sign up for free</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
